.nav {
  display: flex;
  justify-content: space-between !important;
 
 }
 .letras-nav {
  color: #ffe81f;
 }
  .letras-nav:hover {
    color: whitesmoke;
  }
 .card {
   border-radius: 15px; 
   box-shadow: 0 4px 9px rgb(117, 117, 117);
 }
 .texto-carta{
   height: 15vh;
   overflow-y: scroll;
 }
 .texto-carta::-webkit-scrollbar {
   -webkit-appearance: none;
 }
 .texto-carta::-webkit-scrollbar-thumb {
   background-color: #30353a;
   box-shadow: #30353a;
   border-radius: 12px;
 }
 .logo {
   width: 100px;
 }
 
 .iconos a { 
   color: white;
 }
 .footer-abajo{
   background-color: #30353a;
 }
 
